/* styles.css */
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

button {
    background-color: #00000055;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.dark-theme button {
    color: white;
}

body.dark-theme {
    background-color: #242424;
    color: #ffffff;
}

#map.dark-theme {
    filter: invert(1) hue-rotate(180deg);
}

blockquote {
    font-style: italic;
}

.dark-theme blockquote {
    color: lightgray
}

.dark-theme a {
    color: #51aaee;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.section {
    padding: 2%;
    border: 1px solid #ccc; /* Optional: for visual separation */
    overflow-y: auto;
}

.section1 {
    grid-column: 1;
    grid-row: 1;
}

.section2 {
    grid-column: 2;
    grid-row: 1;
}

.section3 {
    grid-column: 1;
    grid-row: 2;
}

.section4 {
    grid-column: 2;
    grid-row: 2;
}

.flight_plan_element {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    min-height: 30px;
    vertical-align: middle;
    background-color: #00000020;
}

.flight_plan_element * {
    margin: 2%;
    font-size: 16px;
}

.flight_plan_element strong {
    color: #00406a;
}

.dark-theme .flight_plan_element strong{
    color: #77ccff
}

.flight_plan_element input {
    background-color: #00000010;
    width: 13%;
    border: 0;
    font-weight: bold;
    color: #00406a;
}

.flight_plan_element button {
    padding: 0;
}

#openaip_api_key {
    width: 30vw;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-right: 1vw;
}

.dark-theme #openaip_api_key {
    background-color: #00000020;
    color: white;
}

.dark-theme .flight_plan_element input {
    color: #77ccff
}

#flightplandatabase_light {
    display: block;
}
#flightplandatabase_dark {
    display: none;
}

.dark-theme #flightplandatabase_light {
    display: none;
}

.dark-theme #flightplandatabase_dark {
    display: block;
}

#simple_section {
    padding-left: 2vw;
    display: block !important;
}

strong {
    color: #00406a;
}

.dark-theme strong{
    color: #77ccff
}

#download_text{
    user-select: none;
    cursor: pointer;
}